{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "object-curly-newline": "off",
    "operator-linebreak": "off",
    "comma-dangle": "off"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  }
}
